
.imgku{
	border-radius: 50%;
	height: 200px;
	
}
.logo{
	border-radius: 50%;
width: 60px;
}

.jumbotron{
background-color: hsl(0, 0%, 0%);
padding-top: 2rem;
}
.icon{
	border-radius: 50%;
}
.img-thumbnail{
 border-radius: 50%;

}
